
{% extends 'layout_master.html' %}

{% block content %}
<h2>Inventory Report</h2>
<table border="1">
    <tr>
        <th>Product</th>
        <th>Stock IN</th>
        <th>Stock OUT</th>
        <th>Current Balance</th>
    </tr>
    {% for product in inventory %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.stock_in|default:0 }}</td>
        <td>{{ product.stock_out|default:0 }}</td>
        <td>{{ product.balance }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'home' %}">Back to Home</a>

{% endblock %}